/**
 * CSS
 */

html, body
  margin 20px
  background white

body
  color text-color
  font 12px font-family-sans

h1, h2, h3,
h4, h5, h6
  font-weight 100

h1
  // font-family AvenirNext-UltraLight
  // font-family HelveticaNeue-light
  font-size 2em
  // font-weight 100
  color #4A4A4A
  // line-height 49px
  /* Box Scheduler */

h2
  // font-family HelveticaNeue-light
  // font-weight 100
  font-size 1.5em
  color #4A4A4A
  // line-height 27px
  /* Today */

h4
  // font-family HelveticaNeue-light;
  font-size 18px;
  color #4A4A4A;
  line-height 22px;
  /* 7:00-8:00 am: */

ul
  padding-left 20px

li
  // font-family: HelveticaNeue-light;
  font-weight 100
  font-size 18px
  color #4A4A4A
  list-style none
  // line-height 22px
  /* Carl Bergstrand */

hr
  margin 40px 0
  height 1px
  border none
  background-color whitesmoke

footer
  // edit()
  col(1)

  // .asknative
  //   align(both)

