// .container
//   col(1/4 1/2, cycle: 4)
//   center(max_width = 400px, pad = 0)
//   // align(both)
//   text-align center

.text-muted
  color muted-color

.text-warning
  color warning-color

.align-right
  float right;

.align-left
  float left;
