<div class="container">
  {{outlet}}
</div>

<footer>
    <hr>
    <span class="asknative">Made with ♥ by asknative</span>

    <br>

    <span class="copyright"> © asknative · All rights reserved.</span>
</footer>
