<div class="container">
  {{outlet}}
</div>

<footer class="text-muted">
    <hr>
    <span class="asknative">Made with ♥ by asknative</span>

    <br>

    <span class="copyright">© asknative · All rights reserved.</span>
</footer>
